/* Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    height: 500px;
    margin: 0 auto;
    width: 1000px;
    padding-top: 2rem; 
    font-family: 'Fredoka', sans-serif;  
}

h1{
    color: rgb(230, 48, 78);
}

a{
    color: rgb(9, 173, 233);
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.float-left{
    float: left;
}


.contenitore-p{
    width: 95%;
}

.paragrafo-principale{
    padding: 2rem 2.5rem;
    text-align: center;
}

#titolo-principale{
    text-align: center;
    
}

.contenitore-team{
    width: 100%;
    padding-left: 2rem;
    color: white;
}

.team{
    width: 33%;
    background-color: black;
}

.foto-team{
    width: 30%;
}

.scheda-team{
    display: inline-block;
    vertical-align: top;
    padding-left: 0.5rem;
}


.scheda-team  h3,
div.team-lavoro, 
.email-componente-team{
    padding: 0.2rem 0.2rem;
}




